<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>基于多级反馈队列的进程管理系统</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <script src="./layui/layui.js"></script>
</head>

<body>
<button type="button" class="layui-btn layui-btn-lg" style="position:relative;left:44%;" name="btn">请输入PCB</button>
<form class="layui-form" method="post" th:action="@{/add}">
    <div class="layui-form-item">
        <label class="layui-form-label">进程名</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入进程名字" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">进程到达时间</label>
        <div class="layui-input-block">
            <input type="text" name="arriveTime" required lay-verify="number" placeholder="单位为毫秒" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务时间</label>
        <div class="layui-input-block">
            <input type="text" name="serviceTime" required lay-verify="number" placeholder="单位为毫秒" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<button type="button" class="layui-btn layui-btn-lg" style="position:relative;left:44%;" name="btn">当前PCB信息</button>
<table class="layui-table layui-form">
    <tr>
        <th>进程名</th>
        <th>到达时间</th>
        <th>服务时间</th>
    <tr/>
    <span th:if="${#lists.isEmpty(PCBs)}">
        <tr>
            <td colspan="3" align="center">暂无PCB信息</td>
        </tr>
    </span>
    <tr>
    <tr th:each="pcb:${PCBs}">
        <td th:text="${pcb.name}"></td>
        <td th:text="${pcb.arriveTime}"></td>
        <td th:text="${pcb.serviceTime}"></td>
    </tr>
    </tr>
</table>
<form class="layui-form" th:action="@{/compute}" method="post">
    <tr>
        <input type="text" name="q1Time"  lay-verify="number|required" placeholder="队列1的时间片" autocomplete="off"
               class="layui-inline">
        <input type="text" name="q2Time" required lay-verify="number|required" placeholder="队列2的时间片" autocomplete="off"
               class="layui-inline">
        <input type="text" name="q3Time" required lay-verify="number|required" placeholder="队列3的时间片" autocomplete="off"
               class="layui-inline">
    </tr>
    <tr>
        <input type="submit" value="立即计算" class="layui-btn layui-inline" lay-submit>
    </tr>
</form>

</body>
</html>
<script>
    layui.use(['form','layer'], function () {
    });
</script>
